<div class="page-container">
    <div class="row filter-component">
        <div class="filters-container">
            <div class="filter-label green darken-1">
                Filtreaza dupa:
            </div>
            <div class="filter-input">
                <select class="" ng-model="producerValues" material-select multiple watch ng-change="updateFilter(300)">
                    <option disabled selected value>Producator</option>
                    <option value="kaindl">KAINDL</option>
                    <option value="egger">EGGER</option>
                </select>
            </div>

            <div class="filter-input">
                <select class="" ng-model="widthValues" material-select multiple ng-change="updateFilter(300);">
                    <option disabled selected value>Grosime</option>
                    <option value="8">8 mm</option>
                    <option value="10">10 mm</option>
                    <option value="11">11 mm</option>
                </select>
            </div>
            <div class="filter-input">
                <select class="" ng-model="classValues" material-select multiple ng-change="updateFilter(300);">
                    <option disabled selected value>Clasa trafic</option>
                    <option value="31">31 / AC3</option>
                    <option value="32">32 / AC4</option>
                    <option value="33">33 / AC5</option>
                </select>
            </div>
            <div class="filter-input">
                <input ng-model="codeValue" placeholder="Cod parchet..." type="text" ng-change="updateFilter(1000);">
            </div>
        </div>

        <div class="sort-container">
            <div class="sort-input">
                <select class="browser-default" ng-model="sortValue" material-select ng-change="updateSort(0);">
                    <option value="">Alege...</option>
                    <option value="1">Pret crescator</option>
                    <option value="2">Pret decrescator</option>
                </select>
            </div>
            <div class="sort-label green darken-1">
                Sorteaza dupa:
            </div>
        </div>
    </div>
    <loading-spinner id="spin" ng-show="!isPageReady" loading="loading"></loading-spinner>
    <div ng-if="listIsEmpty">Ne pare rau, nici un rezultat nu a fost gasit</div>

    <div ng-show="isPageReady" infinite-scroll="nextPage()" infinite-scroll-disabled='!canLoadNextPage' infinite-scroll-immediate-check="false"
         infinite-scroll-distance="1"
         class="row row-container">
        <div class="col s12 m6 l3" ng-repeat="card in cardsList">
            <div class="card parchet-card">
                <a ng-href="{{'#/parchet/detalii/' + card.id}}" title="Vezi detalii">
                    <div class="parchet-card-image-container">
                        <div back-img="{{card.imageUrl}}" class="parchet-card-image grow">
                        </div>
                        <div class="p-price green">{{card.price}} lei/mp</div>
                    </div>
                </a>
                <div class="p-card-details-container">
                    <div class="p-card-details">
                        <div class="p-card-description">{{card.producer}} {{card.description}}</div>
                        <div>{{card.width}} mm, cls. {{card.trafficClass}}</div>
                        <div>cod: {{card.name}}</div>
                        <a ng-href="{{'#/parchet/detalii/' + card.id}}" class="p-card-info-btn waves-effect waves-light" title="Vezi detalii">
                            <span>Detalii &raquo;</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>