<!-- link rel="stylesheet" href="/resources/pages/parquetPage/parquetPage.css"-->
<div class="parchet-container">
    <div class="row filter-component">
        <div class="filters-container">
            <!--TODO hardcodeaza drpdowns, fa background, remove grow pe mobile-->
            <div class="filter-label">
                Filtreaza dupa:
            </div>
            <div class="filter-input">
                <select class="" ng-options="value.id as value.value for value in producerOptions" ng-model="producerValues" material-select multiple watch
                        ng-change="updateProducerFilter(1000)">
                </select>
            </div>

            <div class="filter-input">
                <select class="" ng-options="item.id as item.value for item in widthOptions" ng-model="widthValues" material-select multiple
                        ng-change="updateWidthFilter(1000);">
                </select>
            </div>
            <div class="filter-input">
                <select class="" ng-options="item.id as item.value for item in classOptions" ng-model="classValues" material-select multiple
                        ng-change="updateClassFilter(1000);">
                </select>
            </div>
            <div class="filter-input">
                <input ng-model="codeValue" placeholder="Cod parchet" type="text" ng-change="updateNameFilter(1000);">
            </div>
        </div>

        <div class="sort-container">
            <div class="sort-input">
                <select ng-options="item.id as item.value for item in sortOptions" class="browser-default" ng-model="sortValue" material-select
                        ng-change="updateSort(0);">
                </select>
            </div>
            <div class="sort-label">
                Sorteaza dupa:
            </div>
        </div>
    </div>
    <loading-spinner id="spin" ng-show="!isPageReady" loading="loading"></loading-spinner>
    <div ng-if="listIsEmpty">Ne pare rau, nici un rezultat nu a fost gasit</div>

    <div infinite-scroll="nextPage()" infinite-scroll-disabled='!canLoadNextPage' infinite-scroll-immediate-check="false" infinite-scroll-distance="1" class="row row-container">
        <div class="col s12 m6 l3" ng-repeat="card in cardsList">
            <div class="card parchet-card">
                <a ng-href="{{'#/parchet/detalii/' + card.id}}">
                    <div class="parchet-card-image-container">
                        <img class="parchet-card-image grow"
                             ng-src="{{card.imageUrl}}" alt="Parchet Lustral">
                        <div class="p-price">{{card.price}} lei/mp</div>
                    </div>
                </a>
                <div class="p-card-details">
                    <div>Parchet laminat Kaindl Stejar brun, {{card.width}}mm, {{card.trafficClass}}</div>
                    <div>cod: {{card.name}}</div>

                </div>

            </div>
        </div>
        <!--<div class="col s12 m6 l4" ng-repeat="card in cardsList">-->
        <!--<div class="card" ng-attr-id="{{card.id}}">-->
        <!--<img style="width: 100%; height: auto;" src="http://lustral.ro/images/parchet/34053/34053.jpg">-->

        <!--<div fancy-Box set-Parquet-Height class="card-image"-->
        <!--ng-click="_gaq.push(['_trackEvent', 'Parchet', 'click', '{{card.name}}']);">-->

        <!--<loading-spinner loading="loading"></loading-spinner>-->
        <!--<a ng-href="{{'#/parchet/detalii/' + card.id}}">-->
        <!--<img class="image" ng-src="{{card.imageUrl}}" alt="Parchet - Lustral"> <span class="card-price-old-p" ng-if="card.hasDiscount">{{card.oldPrice} lei/mp</span>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="card-p-custom-action">-->
        <!--<div>{{card.description}}</div>-->
        <!--<div>Grosime: {{card.width}} mm, clasa {{card.clazz}}</div>-->
        <!--<div>-->
        <!--Cod parchet: {{card.name}}, detalii <a href="javascript:void(0)" open-modal-->
        <!--ng-click="openCustomModal(); _gaq.push(['_trackEvent', 'Parchet', 'click', 'Detalii']); ">aici</a>-->
        <!--</div>-->
        <!--<span class="p-price">{{card.price}} lei/mp</span>-->
        <!--</div>-->
    </div>


    <div class="modal custom-modal-widht" open-Modal open-Custom-Modal="openCustomModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-header" style="display: inline">Caracteristici parchet</h5>
                <div class="right">
                    <a class="modal-action modal-close" data-trigger-close="close" href="javascript:void(0)">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
            </br>
            <div style="font-size: 20px;">Kaindl - Parchet laminat premium</div>


            <ul>
                <li>Caracteristici:</li>
                <li>- Ecologic</li>
                <li>- Antistatic</li>
                <li>- Potrivit pentru scaun cu role (role tip W)</li>
                <li>- Usor de montat fara adeziv datorita sistemului ecologic Kaindl Loc</li>
                <li>- Poate fi folosit in proiecte rezidentiale si spatii comerciale</li>
                <li>- Certificat "Greenguard"</li>
                <li>- Rezistent la lumina si decolorare</li>
                <li>- Rezistenta inalta la utilizare si lovire</li>
                <li>- Tara de origina Austria</li>
                <li>- Material suport: HDF
            </ul>

            <div>Website-ul producatorului: <a href="https://www.kaindl.com/en/">www.kaindl.com</a></div>
            </br>
            <div>Tipul de imbinare: Sistem Fold Down / Kaindl Loc</div>
            </br>
            <div>
                <img style="width: 48%; height: auto;" src="/resources/images/imbinare1.jpg">
                <img style="width: 49%; height: auto;" src="/resources/images/imbinare2.jpg">

            </div>
        </div>

        </br>

    </div>
</div>