.parchet-characteristic {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 8px 0 !important;
    color: #444442;
}

.parchet-characteristics-container {
    padding-top: 20px !important;
    padding-left: 50px !important;
}

.parchet-carousel-container {
    padding-top: 20px !important;
}
.parchet-tooltip {
    cursor: pointer;
    white-space: pre;
}

.parchet-characteristic-price {
    background-color: forestgreen;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
}

.youtube-video-container {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.youtube-video-parchet {
    display: block;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 50px;
}

.parchet-details-container {
    border-bottom: 1px solid #cfcfcf;
}
.parchet-details-title {
    font-size: 24px;
    padding-bottom: 10px;
    margin-left: 11.25px;
    color: #5f5f5f;
}
.parchet-showroom-info {
    font-size: 15px;
    color: grey;
    text-align: center;
}

@media (max-width: 600px) {
    .parchet-details-title {
        font-size: 16px;
    }
    .youtube-video-parchet {
        width: 100%;
    }
}