<div class="parchet-details-title">{{details.description}}</div>
<div style="background-color: #f5f5f5">
    <div class="row row-container parchet-details-container">
        <div class="col s12 m12 l6 set-padding parchet-carousel-container">
            <div class="slider-container">
                <div class="slider" materialize-Slider ng-model="initSlider">
                    <ul class="slides no-background">
                        <li ng-repeat="image in imagesArray">
                            <img fancy-Box ng-click="openFancybox(fancyBoxSliderArray, $index)" class="fancy-image-show" ng-src="{{image}}"
                                 alt="Gresie si Faianta">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 set-padding parchet-characteristics-container">
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Grosime: </span> <span class="parchet-characteristic-value">{{details.width}} mm</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Cod: </span> <span class="parchet-characteristic-value">{{details.name}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Producator: </span> <span class="parchet-characteristic-value">{{details.producer}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Tara de origine: </span> <span class="parchet-characteristic-value">{{details.country}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Clasa de trafic: </span> <span class="parchet-characteristic-value">{{details.trafficClass}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Imbinare: </span> <span class="parchet-characteristic-value">{{details.grip}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Esenta: </span> <span class="parchet-characteristic-value">{{details.wood}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Dimensiune placa: </span> <span class="parchet-characteristic-value">{{details.size}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Incalzire in pardosea: </span> <span class="parchet-characteristic-value">{{details.forHeat ? 'Da' : 'Nu'}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Certificate: </span> <span class="parchet-characteristic-value">{{details.certificate}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Termen de livrare: </span> <span class="parchet-characteristic-value">{{details.delivery}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic parchet-characteristic-price">
                <span>Pret: {{details.price}} lei/mp</span>
            </div>
        </div>
    </div>
    <div class="youtube-video-container">
        <h5>Tutorial video pentru instalarea parchetului Egger:</h5>
        <iframe class="youtube-video-parchet" width="560" height="400" src="https://www.youtube.com/embed/TbREIYiRY7c" frameborder="0" allowfullscreen></iframe>
    </div>
</div>