<div class="parchet-details-title">{{details.description}}, {{details.width}} mm, clasa {{details.trafficClass}}</div>
<div class="details-background">
    <div class="row row-container parchet-details-container">
        <div class="col s12 m12 l6 set-padding parchet-carousel-container">
            <div class="slider-container">
                <div class="slider" materialize-Slider ng-model="initSlider">
                    <ul class="slides no-background">
                        <li ng-repeat="image in imagesArray">
                            <img fancy-Box ng-click="openFancybox(fancyBoxSliderArray, $index)" class="fancy-image-show" ng-src="{{image}}" alt="Gresie si Faianta">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6 set-padding parchet-characteristics-container">
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Cod parchet: </span> <span class="bold">{{details.name}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Grosime: </span> <span class="bold">{{details.width}} mm</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Producator: </span> <span class="bold">{{details.producer}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Tara de origine: </span> <span class="bold">{{details.country}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Clasa de trafic: </span> <span tooltipped data-position="top" data-delay="0" data-tooltip="{{trafficTooltip}}" class="bold parchet-tooltip">{{details.trafficClass + ' (?)'}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Imbinare: </span> <span class="bold">{{details.grip}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Esenta: </span> <span class="bold">{{details.wood}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Dimensiune placa: </span> <span class="bold">{{details.size}} cm</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Incalzire in pardosea: </span> <span class="bold">DA</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Material suport: </span> <span tooltipped data-position="top" data-delay="0" data-tooltip="{{materialTooltip}}" class="bold parchet-tooltip">{{details.baseMaterial + ' (?)'}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Termen de livrare: </span> <span class="bold">{{details.delivery}}</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Garantie: </span> <span class="bold">{{details.warranty == null ? 'Pe viata' : details.warranty + ' ani'}}</span>
            </div>
            <div ng-if-start="details.producer == 'KAINDL'" class="col s12 m12 l12 set-padding parchet-characteristic bold">
                <span>Alte caracteristici:</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Antistatic</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Potrivit pentru scaun cu role (role tip W)</span>
            </div>
            <div class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Rezistenţă înaltă la utilizare şi lovire</span>
            </div>
            <div ng-if-end class="col s12 m12 l6 set-padding parchet-characteristic">
                <span>Rezistent la lumină şi decolorare </span>
            </div>
            <div class="col s12 m12 l12 set-padding parchet-characteristic parchet-characteristic-price" ng-class="!details.hasDiscount ? 'green' : 'discount-color'">
                <span>Pret: {{details.price}} lei/mp</span>
            </div>
            <div class="col s12 m12 l12 set-padding parchet-showroom-info">
                Pentru comenzi si mai multe detalii va asteptam in showroom. Datele de contact le gasiti <a href="#/contact">aici</a>.
            </div>

        </div>
    </div>
    <div class="youtube-video-container">
        <h5>Tutorial video pentru montarea parchetului {{details.producer}}:</h5>
        <iframe ng-if="details.producer != 'EGGER'" class="youtube-video-parchet" width="560" height="400" src="https://www.youtube.com/embed/YTs6--BUxKw"
                frameborder="0" allowfullscreen></iframe>
        <iframe ng-if="details.producer == 'EGGER'" class="youtube-video-parchet" width="560" height="400" src="https://www.youtube.com/embed/TbREIYiRY7c"
                frameborder="0" allowfullscreen></iframe>
    </div>
</div>