
/*.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}*/

.card .card-image {
    height: 84%;
    display: block;
}

.card .card-custom-action {
    height: 45px;
    line-height: inherit;
    width: 100%;
    border: none;
    position: relative;
}

.card-name-b {
    position: absolute;
    left: 6px;
    top: 4px;
    font-size: 15px;
    text-align: center;
}

.card-price-b {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 16px;
    color: #795548;
    padding: 0 6px;
}

.card-price-old-b {
    position: absolute;
    top: 2px;
    text-decoration: line-through;
    right: 4px;
    font-size: 13px;
    color: #795548;
    padding: 0 6px;
}

.card-image:hover {
    cursor: zoom-in;
}

.bath-card-dimension {
    position: absolute;
    bottom: 1px;
    left: 6px;
    font-size: 12px;
    color: #795548;
}

.bath-image {
    display: block !important;
    width: auto !important;
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}

.bath-info {
    margin-left: 1%;
    font-size: 13px;
}

