/*.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}*/

.parchet-card-image {
    display: block;
    width: 100%;
    height: 320px;
}

.bath-info {
    padding-left: 34px;
    font-size: 16px;
    position: relative;
    margin-bottom: 10px;
}

.bath-image {
    cursor: pointer;
}

.bath-name {
    font-weight: bold;
    font-size: 16px;
}

.bath-card-details {
    font-size: 14px;
    padding: 6px 12px;
    height: 60px;
}

.bath-info-icon {
    position: absolute;
    font-size: 22px;
    left: 10px;
}

@media (max-width: 650px) {
    .bath-info {
        font-size: 10px;
        margin-bottom: 6px;
    }
}