<link rel="stylesheet" href="/resources/pages/bathtubsPage/bathtubsPage.css">
<div open-Modal open-Custom-Modal="openCustomModal" class="modal custom-modal-widht">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-header">Sisteme de Hidro-Aeromasaj</span>
            <div class="right">
                <a class="modal-action modal-close" data-trigger-close="close" href="javascript:void(0)">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
        <table class="hidro">
            <tr>
                <th>Denumire</th>
                <th>Descriere</th>
                <th>Pret (TVA inclus)</th>
            </tr>
            <tr>
                <td>Sistem hidro 1</td>
                <td>
                    <div>- comanda pneumatica</div>
                    <div>- 6 jeturi apa, pompa</div>
                    <div>- sistem ameste apa-aer</div>
                    <div>- sifon automat</div>
                </td>
                <td>1248 lei</td>
            </tr>
            <tr>
                <td>Sistem hidro 2</td>
                <td>
                    <div>- comanda pneumatica</div>
                    <div>- 4 jeturi apa, pompa</div>
                    <div>- 2 minijeturi spate</div>
                    <div>- 2 minijeturi talpi</div>
                    <div>- sistem amestec apa-aer</div>
                </td>
                <td>1400 lei</td>
            </tr>
            <tr>
                <td>Sistem hidro 3</td>
                <td>
                    <div>- comanda pneumatica</div>
                    <div>- 4 jeturi apa, pompa</div>
                    <div>- 4 minijeturi spate</div>
                    <div>- 4 minijeturi talpi</div>
                    <div>- sistem amestec apa-aer</div>
                </td>
                <td>2000 lei</td>
            </tr>
            <tr>
                <td>Sistem hidro 4</td>
                <td>
                    <div>- comanda pneumatica</div>
                    <div>- 6 jeturi apa, pompa</div>
                    <div>- 10 jeturi aer cald</div>
                    <div>- 4 minijeturi talpi</div>
                    <div>- sistem amestec apa-aer</div>
                </td>
                <td>2175 lei</td>
            </tr>
            <tr>
                <td>Sistem hidro 5</td>
                <td>
                    <div>- comanda pneumatica</div>
                    <div>- 4 jeturi apa, pompa</div>
                    <div>- 4 minijeturi spate</div>
                    <div>- 2 minijeturi talpi</div>
                    <div>- 10 jeturi aer cald</div>
                    <div>- sistem amestec apa-aer</div>
                </td>
                <td>3120 lei</td>
            </tr>
            <tr>
                <td>Sistem hidro 6</td>
                <td>
                    <div>- comanda digitala</div>
                    <div>- 4 jeturi apa, pompa</div>
                    <div>- 4 minijeturi spate</div>
                    <div>- 4 minijeturi talpi</div>
                    <div>- 10 jeturi aer cald</div>
                    <div>- sistem amestec apa-aer</div>
                    <div>- cromoterapie</div>
                </td>
                <td>4200 lei</td>
            </tr>
            <tr>
                <td>Sistem aero-masaj</td>
                <td>
                    <div>- 10 jeturi aer cald</div>
                    <div>- sifon automat</div>
                </td>
                <td>2175 lei</td>
            </tr>
        </table>
    </div>
</div>
<div class="page-container">
    <div class="row row-container">
        <loading-spinner id="spin" ng-show="!isPageLoaded" loading="loading"></loading-spinner>
        <div class="bath-info"><i class="material-icons bath-info-icon">info</i>Cazile sunt fabricate in Romania si contin placa de lemn
            pentru rezistenta. Preturile sunt cu TVA si includ cada, picioarele si masca frontala. Nu includ sifonul
            si sistemul hidro. Preturi sisteme hidro <a href="javascript:void(0)" ng-click="openCustomModal();">aici</a>.
        </div>
        <div class="col s12 m6 l4" ng-repeat="card in cardsList">
            <div class="card parchet-card">
                <div fancy-Box ng-click="openFancybox(fancyBoxArray[$index], 0)" class="parchet-card-image-container bath-image">
                    <div back-img="{{card.baseUrl + '1.jpg'}}" class="parchet-card-image grow">
                    </div>
                    <div class="p-price green">{{card.hasMultipleSizes ? 'de la' : ''}} {{card.price}} lei</div>
                </div>
                <div class="bath-card-details">
                    <div><span class="bath-name">Cada {{card.name}}</span>, Dimensiuni: {{card.size}}</div>
                    <div>Material: acril, Garantie: 10 ani</div>
                </div>
            </div>
        </div>

    </div>
</div>