.mob-card-actions {
    text-align: left;
    padding: 8px;
    height: 50px;
}

.mob-card-name {
    font-size: 14px;
    line-height: 16px;
}

.mob-colors-container {
    display: inline-block;
}

.mob-color {
    height: 12px;
    width: 12px;
    border: 0.5px solid #777777;
    margin-left: 5px;
    display: inline-block;
    float: left;
    border-radius: 50%;
}

.mob-card-image {
    display: block;
    width: 100%;
    height: 320px;
}